html {
  overflow: hidden;
}

.App {
  width: 100%;
}
.MuiGrid-container {
  justify-content: center;
  align-items: center;
}

.MuiOutlinedInput-root {
  border-radius: 8px !important;
  height: 48px;
}
.swiper-container {
  height: 8vh;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: lightgrey;
}
.swiper-wrapper {
  align-items: center;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  background: #ddd;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  position: relative;
  padding: 0px;
}
.user-info {
  align-items: center;
  display: flex;
  width: 100%;
  opacity: 0;
  visibility: visible;
  transition: 0.55s opacity, 0.55s visibility;
  position: absolute;
  bottom: 20px;
}
.media-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.media-card:hover .user-info {
  opacity: 1;
  visibility: visible;
}
.MuiTooltip-popper {
  left: -20px !important;
  width: 20%;
}
.MuiTooltip-tooltip {
  background-color: white !important;
}
.MuiTooltip-arrow {
  color: white !important;
  left: 28px !important;
}
